<footer class="position-relative">
  <div
    class="container-fluid px-2 px-md-5 py-2 position-absolute bottom-0 w-100"
  >
    <div
      class="
        d-md-flex
        justify-content-between
        align-items-center
        min-h-80
        text-center
      "
    >
      <div class="font-13 mb-1 mb-md-0">
        © 2020 CodeLangelo. - All Rights Reserved.
      </div>

      <div class="social-icons mb-1 mb-md-0">
        <a routerLink="/" class="mx-2">
          <img src="../../../assets/icons/facebook.svg" alt="social-icon" />
        </a>
        <a routerLink="/" class="mx-2">
          <img src="../../../assets/icons/instagram.svg" alt="social-icon" />
        </a>
        <a routerLink="/" class="mx-2">
          <img src="../../../assets/icons/twitter.svg" alt="social-icon" />
        </a>
        <a routerLink="/" class="mx-2">
          <img src="../../../assets/icons/linkedin.svg" alt="social-icon" />
        </a>
        <a routerLink="/" class="mx-2">
          <img src="../../../assets/icons/youtube.svg" alt="social-icon" />
        </a>
      </div>

      <div class="font-13">Developed by Arzu Baghirzade</div>
    </div>
  </div>
</footer>
